<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Blog App</title>
  </head>

  <body>
    <header class="container center-align">
      <h1>
        Dev blog
      </h1>
    </header>

    <div class="container">
      {% block content %}
      {% endblock %}

      <br />

      <a style="display:block" class="center-align" href="/admin">sign-in to post</a>
    </div>
    <br />
    <br />
    <br />
    <br />

  </body>


  <footer class="page-footer green lighten-3">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">About Me</h5>
                <p class="grey-text text-lighten-4">excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita disti.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/bomethis">github</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/joel-bebo-61571680/">linkedin</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2019
            <a class="grey-text text-lighten-4 right" href="https://www.climbing.com/">Interests</a>
            </div>
          </div>
        </footer>




</html>
